.levelBtn{
    background-color:#ffb52e;
    color:#fff1c7;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    
}
.restartBtn{
    background-color:#fff1c7;
    color:#ffb52e;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    margin-left: 10px;
    
}
.btns{
    display: flex;
    justify-content: center;
}

.gameStartedClass{
    display: flex;
}

.itemsPanel{
    display: flex;
    border: solid 1px #ffb52e;
    margin-top: 10px;
    border-radius: 10px;
}
.items{
    padding: 10px;
    margin: auto;
}