/**********************************************
*** © Linguagens Script > DEIS > ISEC > IPC 
*** Jogo de Memória em React
*** Estilos para footer.component.jsx 
**********************************************/
footer {
  display: flex;
  font-size: small;
  text-align: center;
  
  flex-direction: column;
  align-items: center;
}
 p{
  padding: 0;
  margin: 0;
 }