.quadrado{
    display: inline-block;
    border: rgb(0, 0, 0) 1px solid;
    width: 2rem;
    height: 2rem;
    background-color: #EBB636;
    margin: 0;
    padding: 0;
}

.clicked{
    background-color: #f00 !important
}

.has-bombs{
    color: aliceblue;
}



.par .quadrado:nth-of-type(even), .impar .quadrado:nth-of-type(odd){
    background-color: #EB8A00;

}